# Android Studio / IntelliJ
#
.idea


# Visual Studio Code
#
.vscode


# MacOS
#
.DS_Store


# LibreOffice lock files
#
.~lock.*


# Muse SDK
#
EEG101/android/app/libs/armeabi-v7a/libmuse_android.so
EEG101/android/app/libs/libmuse_android.jar
*Muse.framework*
