# Android/IJ
#
*.iml
.idea/workspace.xml
.idea/libraries
.idea/dictionaries
.idea/codeStyleSettings.xml
.idea/misc.xml
.gradle
local.properties
build
captures
*.keystore
*/.build
/*/externalNativeBuild
